@import "../styles/base/utils.scss";
@import "../styles/base/mixins.scss";

.navbar {
  @extend .flex-ac-jb;
  padding: 0 5rem;
  position: absolute;
  top: 3rem;
  width: 100%;
  a {
    color: inherit;
    font-size: 1.125rem;
    text-transform: uppercase;
    transition: all 0.3s linear;
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: #f3f3f3;
    }
    &:hover {
      color: #fff;
    }
  }
  &_right {
    @extend .flex-ac;
  }
  @include respondMax("mobile2x") {
    padding-left: 2rem;
    padding-right: 2rem;
    top: 2rem;
  }
}

// .cursor {
//   @extend .flex-ac-jc;
//   height: 1rem;
//   width: 1rem;
//   border-radius: 50%;
//   background: #00d161;
//   // transform: translate(-50%, -50%);
//   position: fixed;
//   pointer-events: none;
//   overflow: hidden;
//   transform: translate3d(0, 0, 0);
//   transition-property: background, transform;
//   // transform-origin: 75% 75%;
//   text-align: center;
//   // mix-blend-mode: difference;
//   z-index: 5;
//   &_text {
//     color: #fff;
//     font-family: inherit;
//   }
//   @include respondMax("tablet3x") {
//     display: none;
//   }
// }

.footer {
  @extend .flex-ac-jc;
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translate(-70px, 0);
  background: linear-gradient(rgba(253, 51, 106, 1), rgba(198, 152, 255, 1));
  width: 12rem;
  height: 47px;
  border-radius: 60px;
  z-index: 4;
  &.footer_two {
    transform: translate(-70px, 0) rotateX(180deg);
    cursor: pointer;
    z-index: 3;
    button {
      color: #ffffff;
    }
    .footer_inner {
      gap: 0.875rem;
    }
  }
  button,
  a {
    color: #b5b5b5;
    font-size: 1.125rem;
    transition: all 0.3s linear;
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: #f3f3f3;
    }
    &:hover {
      color: #fff;
    }
  }
  &_inner {
    @extend .flex-ac-jc;
    gap: 1.5rem;
    background: rgba(31, 31, 31, 1);
    border-radius: inherit;
    position: absolute;
    height: 94%;
    width: 98%;
  }
  @include respondMax("mobile2x") {
    transform: translate(-50px, 0);
    &.footer_two {
      transform: translate(-50px, 0);
    }
  }
  @media (max-width: 360px) {
    transform: translate(-60px, 0);
    &.footer_two {
      transform: translate(-60px, 0);
    }
  }
}
