@import "../../styles/base/mixins.scss";
@import "../../styles/base/utils.scss";

.about {
  background: #2e2e2e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 2.5rem 2.5rem 8rem;
  transform: translateY(100%);
  &::-webkit-scrollbar {
    display: none;
  }

  // &::-webkit-scrollbar-thumb {
  //   background: #f3f3f3;
  //   border-radius: 8px;
  // }
  @include respondMax("tablet3x") {
    padding-top: 0;
  }
  &_hero {
    @extend .flex-ac-jc;
    flex-direction: column;
    height: 70vh;
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 60vw;
      @include respondMax("tablet3x") {
        width: 100vw;
      }
    }
    h2 {
      font-family: "Space Grotesk", sans-serif;
      font-size: 7.75rem;
      font-weight: 400;
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translate(-50%, 0%);
      line-height: 1;
      &:last-child {
        display: none;
      }
      @include respondMax("tablet3x") {
        display: none;
        bottom: -7.5rem;
        &:last-child {
          display: block;
        }
      }
      @media (max-width: 600px) {
        font-size: 5.75rem;
        bottom: -5.5rem;
      }
      @media (max-width: 360px) {
        font-size: 3.75rem;
        bottom: -3.5rem;
      }
    }
  }
  &_info {
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;
    gap: 7.5rem;
    @include respondMax("tablet3x") {
      flex-direction: column;
      gap: 4.5rem;
    }
    &_left {
      p {
        font-size: 2rem;
        line-height: 1.5;
        max-width: 38.5rem;
        &:last-child {
          font-size: 0.875rem;
          line-height: 20px;
          margin-top: 1rem;
        }
      }
    }
    &_right {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
      margin-top: 1.25rem;
      @include respondMax("tablet3x") {
        grid-template-columns: 1fr;
        gap: 3.5rem;
      }
      .section {
        h4 {
          font-weight: 400;
          font-family: "Switzer", sans-serif;
          font-size: 0.875rem;
          text-transform: uppercase;
          margin-bottom: 2.5rem;
        }
        a {
          color: inherit;
          position: relative;
          div {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: #f3f3f3;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          li {
            white-space: nowrap;
            font-weight: 400;
            font-family: "Space Mono", monospace;
            font-size: 0.75rem;
          }
          &.exp {
            display: flex;
            gap: 1rem;
            span {
              display: block;
              margin-bottom: 0.25rem;
            }
          }
        }
      }
    }
  }
}
